@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg-image{
    background: url(images/BG.svg) center ;
    background-position: left top;
    background-repeat: no-repeat;
    background-size:110% ;
    z-index: -1;
}

.container{
    max-width: 1170px;
   
}

.nav-border{
    width: 1130px;
    color: rgb(87, 100, 124);
}

.navbar{
    z-index: 1;
}

.nav-item{
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500; 
    justify-items: center;
    align-items: center;
 
}

.nav-link{
    
    color: #252525 !important;
}

.fa-search{
    margin-left: -10px;
    margin-right: -10px;
    font-weight: bolder;
    font-size: larger;

}
/*Button design------------------------------------*/
.btn{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.btn-outline-orange{
    color: #252525;
    border-color: #FF6803;
    
}
 
.btn-outline-orange:hover{
    color: white;
    background-color: #FF6803;
    border-color: #FF6803;
}
.btn-outline-orange:focus{
    box-shadow: 0 0 0 0.25rem rgba(255, 104, 3, 0.507);
}

/*showcase design---------------------*/
.showcase{
   padding-bottom: 150px;
}

.showcase-items{
    padding-left: 470px;
    margin-top: -200px;
}

.showcase-img{
    position: relative;
    margin-top: -100px; 
  
}


h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #252525;
    
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 700;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    font-weight: 400;
    color: #57647C;

}

.btn-pink-orange{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,48,122,1) 0%, rgba(255,166,46,1) 100%);
    font-weight: 700;
    font-size: 16px;
    color: white;

}

/*grid design*/
.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 385px 385px;
    
}

.header{
    text-align: left;
}

#btn {
    padding-top: 10px;
}

.icons {
    padding-left: 60px;
}

.showcase2{
    margin-top: 250px;
}


.items2{
    display: flex;
    
    
}
.list{
    display: flex;
    
}
.business{
  display: flex;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 700;
}